<header class="header">
  <a class="header__container" routerLink="/">
    <img alt="logo" class="header__logo" height="200" ngSrc="/logo/logo.png" priority
         width="200"/>
    <h1 class="header__title">WearWeShare</h1>
  </a>
  <div>
    <ul class="header__list">
      <li class="header__list-item">Product</li>
      <li class="header__list-item">Solutions</li>
      <li class="header__list-item">Enterprise</li>
      <li class="header__list-item">Resources</li>
      <li class="header__list-item">Pricing</li>
    </ul>
  </div>
  <div class="header__buttons">
    <button class="header__button">Register</button>
    <button class="header__button">Log in</button>
  </div>
</header>
