<div class="form-group">
  <label>Wie möchten Sie Ihre Kleider übergeben?</label>
  <div *ngFor="let option of radioOptions" class="radio-option">
    <input [(ngModel)]="selectedOption"
           [id]="option.id"
           [value]="option.value"
           name="selectedOption"
           type="radio">
    <label [for]="option.id">{{ option.label }}</label>
  </div>
</div>
@if (selectedOption === 'Abholung') {
  <div class="form-group">
    <label for="name">Abholadresse</label>
    <input [(ngModel)]="pickupAddress" class="form-control" id="name"
           name="name"
           required type="text">
  </div>
}
<div class="form-group">
  <label for="clothingType">Art der Kleidung</label>
  <select [(ngModel)]="clothingType" class="form-control" id="clothingType" name="clothingType" required>
    <option *ngFor="let clothingType of clothingTypes" [value]="clothingType">
      {{ clothingType }}
    </option>
  </select>
</div>
<div class="form-group">
  <label for="crisisArea">Aktuelles Krisengebiet</label>
  <select [(ngModel)]="crisisArea" class="form-control" id="crisisArea" name="crisisArea" required>
    <option *ngFor="let crisisArea of crisisAreas" [value]="crisisArea">
      {{ crisisArea }}
    </option>
  </select>
</div>
<p>{{ pickupAddress }}</p>
<p>{{ selectedOption }}</p>
<p>{{ crisisArea }}</p>
<p>{{ clothingType }}</p>
